<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/rs.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This application was developed by Rajat Singh. It uses MapBox and Darksky APIs</p>
        <img class="portrait" src="./img/rs.png">
    </div>
    {{>footer}}
</body>

</html>